{
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "proseWrap": "preserve"
}