.board-tabs {
  width: 100%;
  height: 40px;
  background: #eff2f5;
  .board-tab-item {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    border-radius: 4px 4px 0 0;
    padding: 0 15px;
    cursor: pointer;
  }
  .board-tab-item:hover {
    color: #007bff;
  }
  .board-tab-cur {
    background: #fff;
    color: #007bff;
  }
}
