.table-top {
  .title {
    float: left;
    font-size: 20px;
    width: 100px;
    margin: 0;
    line-height: 31px;
  }
  .btns {
    float: right;
  }
}
.table-th {
  span,
  em {
    vertical-align: middle;
  }
  em {
    padding: 0 5px;
    cursor: pointer;
  }
}
.search-row {
  margin-bottom: 20px;
  .form-control {
    float: left;
    width: 180px;
    margin-right: 10px;
  }
}
