.table-top {
  .title {
    float: left;
    font-size: 20px;
    width: 100px;
    margin: 0;
    line-height: 31px;
  }
  .btns {
    float: right;
  }
}
.table-th {
  white-space: nowrap;
  span,
  em {
    vertical-align: middle;
  }
  em {
    padding: 0 5px;
    cursor: pointer;
  }
}
.search-row {
  margin-bottom: 20px;
  .form-control {
    float: left;
    width: 180px;
    margin-right: 10px;
  }
}
.pages {
  margin-top: 20px;
  .rc-pagination-item,
  .rc-pagination-prev,
  .rc-pagination-next {
    border-radius: 4px;
    width: 32px;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    outline: none;
    font-size: 13px;
  }
  .rc-pagination-jump-prev,
  .rc-pagination-jump-next {
    outline: none;
  }
  .rc-pagination-item:hover {
    border-color: #007bff;
  }
  .rc-pagination-item-active {
    color: #ffffff;
    background: #007bff;
    border-color: #007bff;
  }
  .rc-pagination-disabled {
    color: #ccc;
  }
  .rc-pagination-total-text {
    margin-right: 10px;
  }
}
