.form-preview-box {
  border: 2px dashed #ddd;
  border-radius: 6px;
  text-align: center;
  height: 120px;
  padding-top: 30px;
  cursor: pointer;
  h3 {
    color: #888;
    height: 30px;
    margin-bottom: 5px;
  }
  p {
    color: #aaa;
    margin: 0;
  }
  &:hover {
    border-color: #aaa;
    h3 {
      color: #666;
    }
    p {
      color: #888;
    }
  }
}
