@import 'iconfont.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* main */
.frame-main {
  display: flex;
}
.frame-aside {
  width: 240px;
  background: #001529;
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  transition: all 0.2s;
}
.frame-aside h1 {
  padding-left: 15px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  color: #fff;
}
.frame-aside h1 i {
  font-size: 30px;
  margin-right: 12px;
  vertical-align: middle;
}
.frame-aside h1 span {
  font-weight: 600;
  font-size: 18px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}
.frame-nav {
  height: 50px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: relative;
  z-index: 9;
}
.frame-body {
  flex: 1;
  min-height: 100vh;
  background: #f0f2f5;
}
.menu-fold {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin: 15px 0 15px 20px;
  cursor: pointer;
}
.sitepath {
  background: #ffffff;
  line-height: 25px;
  padding: 16px 24px;
  font-size: 16px;
  color: #444444;
  font-weight: bold;
}
.main-content {
  padding: 1.5rem;
}
/* 卡片通用样式 */
.lego-card {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  position: relative;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s;
  list-style: none;
}
/* 底部按钮容器 */
.btns-row {
  padding: 1rem 0;
}
.btns-row .btn {
  margin-right: 0.6rem;
}

/* json-editor */
.create-form-wrap {
  padding: 1rem;
}
.create-form-wrap .card {
  border-color: #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  margin-bottom: 0.6rem;
}
.form-control {
  font-size: 14px;
}
.form-control[type='file'] {
  height: auto;
}
.create-form-wrap .btn-group {
  display: inline-block;
}
.create-form-wrap .btn {
  font-size: 12px;
}
.create-form-wrap .btn-light {
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
}
.create-form-wrap .input-group-prepend .btn-light {
  border-left: none;
}
.create-form-wrap .btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.create-form-wrap a img {
  max-width: 200px;
  max-height: 100px;
}
.form-preview {
  position: relative;
  overflow: hidden;
}
.form-preview .schema-box {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 800px;
  background: #f8f9fa;
  transition: all 0.2s;
  transform: translateX(800px);
  z-index: 10;
}
.form-preview .schema-show {
  transform: translateX(0);
}
.form-preview .schema-box .switch-btn {
  position: absolute;
  left: -30px;
  top: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  width: 30px;
  background: #e2e6ea;
  border-radius: 4px 0 0 4px;
  color: #007bff;
  cursor: pointer;
  transition: all 0.2s;
}
.form-preview .schema-box .switch-btn:hover {
  color: #0069d9;
}
.form-preview .schema-code {
  height: 100%;
}
