::-webkit-input-placeholder {
  color: #aaa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
li {
  list-style: none;
}
.lego-toast {
  min-width: 150px;
  max-width: 400px;
  padding: 15px 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  line-height: 1.5;
  text-align: center;
  font-size: 15px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  z-index: 99;
}
/* main */
.frame-main {
  display: flex;
}
.frame-aside {
  width: 220px;
  background: #001529;
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  transition: all 0.2s;
}
.frame-aside h1 {
  padding-left: 15px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  opacity: 0;
  transition: all 0.2s;
}
.frame-aside .name-show {
  opacity: 1;
}
.frame-aside a {
  color: #fff;
  text-decoration: none;
}
.frame-aside h1 i {
  font-size: 26px;
  margin-right: 12px;
  vertical-align: middle;
}
.frame-aside h1 span {
  font-weight: 600;
  font-size: 18px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}
.side-menu {
  padding: 16px 0;
  width: 100%;
  line-height: 40px;
  font-size: 14px;
  color: #ffffff;
}
.side-menu .link {
  color: #a2a9b1;
  display: block;
  padding: 0 24px;
  cursor: pointer;
  transition: all 0.2s;
}
.side-menu .link:hover,
.side-menu .item-v2 a:hover,
.side-menu .item-v2 a:focus,
.side-menu .item-v2 .active,
.side-menu .active {
  color: #ffffff;
}
.side-menu .link span {
  margin-left: 10px;
}
.side-menu .item-v1 {
  position: relative;
}
.side-menu .item-v1 .icon {
  display: inline-block;
  width: 15px;
  height: 14px;
}
.side-menu .item-v2 a {
  padding-left: 49px;
  color: #a2a9b1;
  display: block;
  transition: all 0.2s;
}
.side-menu .sub-list {
  height: 0;
  margin: 0;
  padding: 0;
  background: #000b17;
  transition: all 0.2s;
  overflow: hidden;
}
.side-menu .arr {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 12px;
  transform: scale(0.8);
}

.frame-nav {
  height: 50px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: relative;
  z-index: 15;
}
.frame-nav-fixed {
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  width: 100%;
  transition: 0.2s;
}
.frame-nav-fixed:after {
  content: '\20';
  position: absolute;
  bottom: -10px;
  height: 10px;
  width: 100%;
}
.frame-nav-fixed:hover {
  top: 0;
}
.nav-right {
  position: absolute;
  right: 1.5rem;
  top: 0;
  height: 50px;
}
.nav-right .nav-item {
  float: right;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: relative;
}
.nav-right .nav-item a {
  display: block;
  height: 50px;
  color: #444444;
  font-size: 14px;
  text-decoration: none;
  padding: 0 10px;
}
.nav-right .nav-item .fas {
  margin-right: 5px;
}
.nav-right .nav-item:hover {
  background: #f8f8f8;
}
.frame-body {
  flex: 1;
  min-height: 100vh;
  background: #f0f2f5;
}
.menu-fold {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin: 15px 0 15px 20px;
  cursor: pointer;
}
.sitepath {
  background: #ffffff;
  line-height: 25px;
  padding: 16px 24px;
  font-size: 16px;
  color: #444444;
  font-weight: bold;
}
.main-content {
  padding: 1.5rem;
  box-sizing: border-box;
  height: calc(100vh - 50px);
  overflow-y: auto;
}
.main-content-embedded {
  height: 100vh;
}
/* 底部按钮容器 */
.btns-row {
  padding: 1rem 0;
}
.btns-row .btn {
  margin-right: 0.6rem;
}

/* json-editor */
.lego-card {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  position: relative;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s;
  list-style: none;
}
.lego-card .card {
  border-color: #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  margin-bottom: 0.6rem;
}
.form-control {
  font-size: 14px;
}
.form-control[type='file'] {
  height: auto;
}
.card-body .btn-group {
  display: inline-block;
}
.card-body .btn {
  font-size: 12px;
}
.card-body .btn-light {
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
}
.card-body .input-group-prepend .btn-light {
  border-left: none;
}
.card-body .btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.card-body a img {
  max-width: 200px;
  max-height: 100px;
}
.card-body .form-text {
  font-size: 13px;
  color: #888888;
}

/* popup */
.popup-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 999;
  .popup-main {
    min-height: 300px;
    max-height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.3);
  }
  .popup-hide {
    width: 30px;
    height: 30px;
    background: #444;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: -28px;
    top: -28px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
  }
  .popup-hide:hover {
    transform: rotate(270deg);
  }
  iframe {
    border-radius: 4px;
  }
}
